.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.rubric-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field {
  width: 100%;
}

.competences-div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mat-expansion-panel-header-title {
  font-size: large;
  font-weight: bold;
}