<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #navigationSidenav mode="side" opened>

    <mat-toolbar>
      <mat-toolbar-row>
        <h2 class="toolbar-title"> TFM DIGCOMP-RUBRICS </h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- <mat-nav-list dense> -->
    <mat-nav-list>

      <ng-container *ngIf="activeRole === 'TEACHER'">
        <h2 matSubheader> {{ 'header.rubrics' | translate }} </h2>
        <a mat-list-item routerLink="/teacher/rubrics/list" style="height: 0;">{{ 'teacher.my_rubrics' | translate }}</a>
      </ng-container>
      
      <ng-container *ngIf="currentActor">
        <h2 matSubheader> {{ 'header.profile' | translate }} </h2>
        <a mat-list-item (click)="logout()" style="height: 0;">{{ 'header.logout' | translate }}</a>
      </ng-container>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content role="main">

    <app-navigation-bar (toggleSidenav)="navigationSidenav.toggle()">
    </app-navigation-bar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>