<mat-toolbar>
  <span>{{ 'header.register' | translate }}</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="onRegister()" class="my-form">
      <mat-form-field class="full-width">
             <mat-label>{{ 'register.name' | translate }}</mat-label>
             <input  matInput  placeholder="First name"  name="name" formControlName="name"  required>
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>{{ 'register.surname' | translate }}</mat-label>
             <input  matInput  placeholder="Last Name" name="surname" formControlName="surname" required>
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>{{ 'register.email' | translate }}</mat-label>
             <input  matInput type="email" placeholder="Email" name="email" formControlName="email" required>
          </mat-form-field>
          <mat-form-field class="full-width">
             <mat-label>{{ 'register.password' | translate }}</mat-label>
             <input  matInput type="password" placeholder="Password"  name="password" formControlName="password" required>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button type="submit" color="primary">{{ 'register.register' | translate }}</button>
          </mat-card-actions>
   </form>
  </mat-card-content>
  
</mat-card>