table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .rubrics-table-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }