<mat-toolbar-row>
  <h2>{{ 'rubric.assessment' | translate }}</h2>
</mat-toolbar-row>

<div class="container mat-elevation-z8 assessment-container" fxLayout="column">

  <div class="select-container" fxLayout="row">
    <mat-form-field fxFlex="30" appearance="fill">
      <mat-label>{{'assessment.select_course' | translate}}</mat-label>
      <mat-select (selectionChange)="onCourseChange($event)" [(value)]="selected_course">
        <mat-option *ngFor="let course of courses" [value]="course._id">
          {{course.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="30" appearance="fill">
      <mat-label>{{'assessment.select_activity' | translate}}</mat-label>
      <mat-select (selectionChange)="onActivityChange($event)" [(value)]="selected_activity">
        <mat-option *ngFor="let activity of activities" [value]="activity._id">
          {{activity.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>{{selected_activity}}</p>

    <mat-form-field fxFlex="30" appearance="fill">
      <mat-label>{{'assessment.select_student' | translate}}</mat-label>
      <mat-select (selectionChange)="onStudentChange($event)" [(value)]="selected_student">
        <mat-option *ngFor="let student of students" [value]="student._id">
          {{student.name}} {{student.surname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div>
    <table mat-table [dataSource]="dataSource">
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> NAME </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container *ngFor="let level of levelsArray" matColumnDef="{{level}}">
        <th mat-header-cell *matHeaderCellDef> {{level}} </th>
        <td mat-cell *matCellDef="let row"> {{row.proficiencyLevels[level-1].descriptor}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
  </div>
</div>

<pre>{{ levelsArray }}</pre>