.assessment-container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.select-container {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.select-container mat-form-field{
  margin-right: 2rem;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  